.img{
    height: 150px;
    border: 2px solid silver;
    border-radius: 15px;
}

.product{
    width: 100%;
    max-width: 300px;
    background: var(--tg-theme-section-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.description{

}

.price{
    margin-bottom: 10px;
}

.add-btn{
    font-size: 15px;
    /* border: 1px solid white; */
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);

}