@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');


body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.app{
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

